.welcome-message{
    font-size:2.5em;
    background-color:hsl(120,100%,42%);
    color:white;
    padding:10px;
    margin:0;
}

.login-promp{
    font-size:2.5em;
    background-color:hsl(120,100%,42%);
    color:red;
    padding:10px;
    margin:0;
}